 #  <font color='#7E9BC0'> **Movies Recommendation | movielens.org.** </font>

<b> </h4> **Data Cleaning Movies Recommendation | movielens.org** </b> 
</div>

<b> **Autors:**</b> 
Juan Pablo López Salazar, Bryan Urra Calfuñir.  
</div>

<b> **Data Source:**</b> 
F. Maxwell Harper and Joseph A. Konstan. 2015. The MovieLens Datasets: History and Context. ACM Transactions on Interactive Intelligent Systems (TiiS) 5, 4: 19:1–19:19. <https://doi.org/10.1145/2827872>
</div>

# **Libreries**

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('bmh')
import numpy as np
import re
%matplotlib inline

# **Importing Data**

In [2]:
df=pd.read_csv("Data Cleaning/df.csv")
df

,Unnamed: 0,movieId,title,year,Musical,(no genres listed),Horror,War,Mystery,Western,...,Fantasy,Children,Romance,Adventure,Sci-Fi,Crime,Documentary,IMAX,userId,rating
0,0,1,Toy Story (1995),1995,0,0,0,0,0,0,...,1,1,0,1,0,0,0,0,4,4.0
1,1,1,Toy Story (1995),1995,0,0,0,0,0,0,...,1,1,0,1,0,0,0,0,10,5.0
2,2,1,Toy Story (1995),1995,0,0,0,0,0,0,...,1,1,0,1,0,0,0,0,14,4.5
3,3,1,Toy Story (1995),1995,0,0,0,0,0,0,...,1,1,0,1,0,0,0,0,15,4.0
4,4,1,Toy Story (1995),1995,0,0,0,0,0,0,...,1,1,0,1,0,0,0,0,22,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21363023,21363023,192283,Crazy Rich Asians (2018),2018,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,261224,3.5
21363024,21363024,192283,Crazy Rich Asians (2018),2018,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,261870,0.5
21363025,21363025,192283,Crazy Rich Asians (2018),2018,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,266861,3.5
21363026,21363026,192283,Crazy Rich Asians (2018),2018,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,275841,3.0
21363027,21363027,192283,Crazy Rich Asians (2018),2018,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,277968,3.5

# **Algorithm 1: Popularity**

IMDB uses this a formula to determinate the popularity of a movie, which is: 
    
*Weighted Rating (WR)* = $(\frac{v}{v + m} . R) + (\frac{m}{v + m} . C)$

Consider:
* *v* number of rates
* *m* minimum rates to could be consider
* *R* average rating of the movie
* *C* average rating of all the movies

In [12]:
rat_orig = pd.read_csv("Data Cleaning/ratings.csv")
movies = pd.read_csv("Data Cleaning/movies.csv",index_col=0)

In [13]:
C=rat_orig['rating'].mean()
rating_prom=rat_orig.groupby('movieId')['rating'].agg([len,np.mean])
m=rating_prom['len'].quantile(0.75)
rating_prom=rating_prom[rating_prom['len']>m]
rating_prom['Title']=movies['title'][rating_prom.index]
rating_prom['Weighted Rating']=(rating_prom['len']*rating_prom['mean']+m*C)/(m+rating_prom['len'])
rating_prom=rating_prom.sort_values(by='Weighted Rating',ascending=False)
rating_prom[['Title','Weighted Rating','len','mean']].head(10)

,Title,Weighted Rating,len,mean
movieId,,,,
171011,Planet Earth II (2016),4.435584,853.0,4.486518
159817,Planet Earth (2006),4.426998,1384.0,4.458092
318,"Shawshank Redemption, The (1994)",4.423750,97999.0,4.424188
170705,Band of Brothers (2001),4.359459,984.0,4.399898
858,"Godfather, The (1972)",4.332261,60904.0,4.332893
174053,Black Mirror: White Christmas (2014),4.315474,1074.0,4.350559
50,"Usual Suspects, The (1995)",4.291371,62180.0,4.291959
1221,"Godfather: Part II, The (1974)",4.262132,38875.0,4.263035
527,Schindler's List (1993),4.257014,71516.0,4.257502
172591,The Godfather Trilogy: 1972-1990 (1992),4.256847,421.0,4.339667

Let's try to modify the mimimum rate

In [14]:
C=rat_orig['rating'].mean()
rating_prom=rat_orig.groupby('movieId')['rating'].agg([len,np.mean])
m=rating_prom['len'].quantile(0.95)
rating_prom=rating_prom[rating_prom['len']>m]
rating_prom['Title']=movies['title'][rating_prom.index]
rating_prom['Weighted Rating']=(rating_prom['len']*rating_prom['mean']+m*C)/(m+rating_prom['len'])
rating_prom=rating_prom.sort_values(by='Weighted Rating',ascending=False)
rating_prom[['Title','Weighted Rating','len','mean']].head(10)

,Title,Weighted Rating,len,mean
movieId,,,,
318,"Shawshank Redemption, The (1994)",4.407585,97999.0,4.424188
858,"Godfather, The (1972)",4.309174,60904.0,4.332893
50,"Usual Suspects, The (1995)",4.269899,62180.0,4.291959
527,Schindler's List (1993),4.239120,71516.0,4.257502
1221,"Godfather: Part II, The (1974)",4.229670,38875.0,4.263035
2959,Fight Club (1999),4.211430,65678.0,4.230663
1193,One Flew Over the Cuckoo's Nest (1975),4.193750,42181.0,4.222920
904,Rear Window (1954),4.176934,22264.0,4.230799
2019,Seven Samurai (Shichinin no samurai) (1954),4.172426,14578.0,4.254116
912,Casablanca (1942),4.171835,31095.0,4.210098

This model generate different rating according to the minimum number of rates considered. This may be a problem, as well that the result isn't personalized to the user

# **Algorithm 2: Machine Learning ALS**

## Librerias Pyspark

In [2]:
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.ml.recommendation import ALS
from pyspark.ml.tuning import TrainValidationSplit, ParamGridBuilder
from pyspark.sql import *
from pyspark.sql.types import *
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('Recommendation_system').getOrCreate()

CreateSpark Data Frame

In [4]:
#Use these codes in case that you want to import the data direct using pyspark
sdf = spark.read.csv('Data Cleaning/df.csv',header=True, inferSchema='True')
sdf.show()
#sparkDf = spark.createDataFrame(df)
#sparkDf.show()

+---+-------+----------------+----+-------+------------------+------+---+-------+-------+---------+---------+------+-----+--------+------+-------+--------+-------+---------+------+-----+-----------+----+------+------+
|_c0|movieId|           title|year|Musical|(no genres listed)|Horror|War|Mystery|Western|Film-Noir|Animation|Comedy|Drama|Thriller|Action|Fantasy|Children|Romance|Adventure|Sci-Fi|Crime|Documentary|IMAX|userId|rating|
+---+-------+----------------+----+-------+------------------+------+---+-------+-------+---------+---------+------+-----+--------+------+-------+--------+-------+---------+------+-----+-----------+----+------+------+
|  0|      1|Toy Story (1995)|1995|      0|                 0|     0|  0|      0|      0|        0|        1|     1|    0|       0|     0|      1|       1|      0|        1|     0|    0|          0|   0|     4|   4.0|
|  1|      1|Toy Story (1995)|1995|      0|                 0|     0|  0|      0|      0|        0|        1|     1|    0|       0|     0|      1|       1|      0|        1|     0|    0|          0|   0|    10|   5.0|
|  2|      1|Toy Story (1995)|1995|      0|                 0|     0|  0|      0|      0|        0|        1|     1|    0|       0|     0|      1|       1|      0|        1|     0|    0|          0|   0|    14|   4.5|
|  3|      1|Toy Story (1995)|1995|      0|                 0|     0|  0|      0|      0|        0|        1|     1|    0|       0|     0|      1|       1|      0|        1|     0|    0|          0|   0|    15|   4.0|
|  4|      1|Toy Story (1995)|1995|      0|                 0|     0|  0|      0|      0|        0|        1|     1|    0|       0|     0|      1|       1|      0|        1|     0|    0|          0|   0|    22|   4.0|
|  5|      1|Toy Story (1995)|1995|      0|                 0|     0|  0|      0|      0|        0|        1|     1|    0|       0|     0|      1|       1|      0|        1|     0|    0|          0|   0|    25|   4.0|
|  6|      1|Toy Story (1995)|1995|      0|                 0|     0|  0|      0|      0|        0|        1|     1|    0|       0|     0|      1|       1|      0|        1|     0|    0|          0|   0|    27|   5.0|
|  7|      1|Toy Story (1995)|1995|      0|                 0|     0|  0|      0|      0|        0|        1|     1|    0|       0|     0|      1|       1|      0|        1|     0|    0|          0|   0|    31|   5.0|
|  8|      1|Toy Story (1995)|1995|      0|                 0|     0|  0|      0|      0|        0|        1|     1|    0|       0|     0|      1|       1|      0|        1|     0|    0|          0|   0|    38|   5.0|
|  9|      1|Toy Story (1995)|1995|      0|                 0|     0|  0|      0|      0|        0|        1|     1|    0|       0|     0|      1|       1|      0|        1|     0|    0|          0|   0|    42|   4.0|
| 10|      1|Toy Story (1995)|1995|      0|                 0|     0|  0|      0|      0|        0|        1|     1|    0|       0|     0|      1|       1|      0|        1|     0|    0|          0|   0|    43|   5.0|
| 11|      1|Toy Story (1995)|1995|      0|                 0|     0|  0|      0|      0|        0|        1|     1|    0|       0|     0|      1|       1|      0|        1|     0|    0|          0|   0|    51|   4.0|
| 12|      1|Toy Story (1995)|1995|      0|                 0|     0|  0|      0|      0|        0|        1|     1|    0|       0|     0|      1|       1|      0|        1|     0|    0|          0|   0|    54|   3.0|
| 13|      1|Toy Story (1995)|1995|      0|                 0|     0|  0|      0|      0|        0|        1|     1|    0|       0|     0|      1|       1|      0|        1|     0|    0|          0|   0|    55|   5.0|
| 14|      1|Toy Story (1995)|1995|      0|                 0|     0|  0|      0|      0|        0|        1|     1|    0|       0|     0|      1|       1|      0|        1|     0|    0|          0|   0|    56|   2.5|
| 15|      1|Toy Story (1995)|1995|      0|                 0|     0|  0|      0|      0|        0|        1|     1|    0|       0|     0|      1|       1|      0|        1|     0|    0|          0|   0|    58|   4.0|
| 16|      1|Toy Story (1995)|1995|      0|                 0|     0|  0|      0|      0|        0|        1|     1|    0|       0|     0|      1|       1|      0|        1|     0|    0|          0|   0|    62|   4.0|
| 17|      1|Toy Story (1995)|1995|      0|                 0|     0|  0|      0|      0|        0|        1|     1|    0|       0|     0|      1|       1|      0|        1|     0|    0|          0|   0|    67|   4.0|
| 18|      1|Toy Story (1995)|1995|      0|                 0|     0|  0|      0|      0|        0|        1|     1|    0|       0|     0|      1|       1|      0|        1|     0|    0|          0|   0|    70|   4.0|
| 19|      1|Toy Story (1995)|1995|      0|                 0|     0|  0|      0|      0|        0|        1|     1|    0|       0|     0|      1|       1|      0|        1|     0|    0|          0|   0|    71|   4.0|
+---+-------+----------------+----+-------+------------------+------+---+-------+-------+---------+---------+------+-----+--------+------+-------+--------+-------+---------+------+-----+-----------+----+------+------+
only showing top 20 rows

## **Training Model**

In [6]:
train, test = sdf.randomSplit([0.8,0.2])

als=ALS(userCol="userId", itemCol="movieId", ratingCol="rating", coldStartStrategy="drop", nonnegative=True)
param_grid= ParamGridBuilder()\
            .addGrid(als.rank, [12,13,14])\
            .addGrid(als.maxIter, [18,19,20])\
            .addGrid(als.regParam, [.15,.16,.17])\
            .build()
evaluator=RegressionEvaluator(metricName="rmse", labelCol="rating", predictionCol="prediction")

tvs= TrainValidationSplit(
    estimator=als,
    estimatorParamMaps=param_grid,
    evaluator=evaluator)

model=tvs.fit(train)

ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:51019)
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\py4j\java_gateway.py", line 977, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\py4j\java_gateway.py", line 977, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\py4j\java_gateway.py", line 1115, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [WinError 10061] No connection could be made because the target machine actively refused it
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:51019)
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\py4j\java_gateway.py", line 977, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\py4j\java_gateway.py", line 1115, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [WinError 10061] No connection could be made because the target machine actively refused it

Py4JNetworkError: An error occurred while trying to connect to the Java server (127.0.0.1:51019)

ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:51019)
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\py4j\java_gateway.py", line 977, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\py4j\java_gateway.py", line 977, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\py4j\java_gateway.py", line 1115, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [WinError 10061] No connection could be made because the target machine actively refused it
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:51019)
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\py4j\java_gateway.py", line 977, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\py4j\java_gateway.py", line 977, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\py4j\java_gateway.py", line 1115, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [WinError 10061] No connection could be made because the target machine actively refused it
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:51019)
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\py4j\java_gateway.py", line 977, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\py4j\java_gateway.py", line 977, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\py4j\java_gateway.py", line 1115, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [WinError 10061] No connection could be made because the target machine actively refused it
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:51019)
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\py4j\java_gateway.py", line 977, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\py4j\java_gateway.py", line 977, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\py4j\java_gateway.py", line 1115, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [WinError 10061] No connection could be made because the target machine actively refused it
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:51019)
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\py4j\java_gateway.py", line 977, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\py4j\java_gateway.py", line 977, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\py4j\java_gateway.py", line 1115, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [WinError 10061] No connection could be made because the target machine actively refused it
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:51019)
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\py4j\java_gateway.py", line 977, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\py4j\java_gateway.py", line 977, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\py4j\java_gateway.py", line 1115, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [WinError 10061] No connection could be made because the target machine actively refused it

## Chosing best Model

In [ ]:
best_model=model.bestModel

predictions=best_model.transform(test)
rmse=evaluator.evaluate(predictions)

print("RMSE = "+str(rmse))
print("*Best Model*")
print(" Rank: ", best_model.rank)
print(" MaxIter: ", best_model._java_obj.parent().getMaxIter())
print(" RegParam: ", best_model._java_obj.parent().getRegParam())

RMSE = 0.8277782397049603
*Best Model*
 Rank:  13
 MaxIter:  20
 RegParam:  0.15

## **Predicting**

In [ ]:
My_own_rates={(30000,1):5,(30000,152017):5,(30000,5378):5,(30000,66097):1,
               (30000,2324):5,(30000,136864):2,(30000,8533):5,
               (40001,72998):5,(40001,5378):5,(40001,106002):5,(40001,4993):5,
               (40001,175303):5,(40001,176371):1,(40001,175197):3,
               (50001,7293):4,(50001,102716):5,(50001,117176):5,
               (50001,5218):4,(60001,2571):5,(60001,73017):5,(60001,6539):5,
               (60001,91630):5}
testing=pd.DataFrame([[key[0],key[1],My_own_rates[key]] for key in My_own_rates.keys()],columns=['userId','movieId','rating'])
df_testing=pd.merge(movies,testing,how='inner',on='movieId')

## Transformar muestra de prueba a Spark Data Frame

In [ ]:
sparkDf = spark.createDataFrame(df_testing)
sparkDf.show()

ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:50269)
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\py4j\java_gateway.py", line 977, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\py4j\java_gateway.py", line 1115, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [WinError 10061] No connection could be made because the target machine actively refused it
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:50269)
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\py4j\java_gateway.py", line 977, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\py4j\java_gateway.py", line 1115, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [WinError 10061] No connection could be made because the target machine actively refused it

Py4JNetworkError: An error occurred while trying to connect to the Java server (127.0.0.1:50269)

ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:50269)
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\py4j\java_gateway.py", line 977, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\py4j\java_gateway.py", line 1115, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [WinError 10061] No connection could be made because the target machine actively refused it
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:50269)
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\py4j\java_gateway.py", line 977, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\py4j\java_gateway.py", line 1115, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [WinError 10061] No connection could be made because the target machine actively refused it
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:50269)
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\py4j\java_gateway.py", line 977, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\py4j\java_gateway.py", line 1115, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [WinError 10061] No connection could be made because the target machine actively refused it
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:50269)
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\py4j\java_gateway.py", line 977, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\py4j\java_gateway.py", line 1115, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [WinError 10061] No connection could be made because the target machine actively refused it
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:50269)
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\py4j\java_gateway.py", line 977, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\py4j\java_gateway.py", line 1115, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [WinError 10061] No connection could be made because the target machine actively refused it
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:50269)
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\py4j\java_gateway.py", line 977, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\py4j\java_gateway.py", line 1115, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [WinError 10061] No connection could be made because the target machine actively refused it
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:50269)
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\py4j\java_gateway.py", line 977, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\py4j\java_gateway.py", line 1115, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [WinError 10061] No connection could be made because the target machine actively refused it
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:50269)
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\py4j\java_gateway.py", line 977, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\py4j\java_gateway.py", line 1115, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [WinError 10061] No connection could be made because the target machine actively refused it
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:50269)
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\py4j\java_gateway.py", line 977, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\py4j\java_gateway.py", line 1115, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [WinError 10061] No connection could be made because the target machine actively refused it
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:50269)
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\py4j\java_gateway.py", line 977, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\py4j\java_gateway.py", line 1115, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [WinError 10061] No connection could be made because the target machine actively refused it
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:50269)
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\py4j\java_gateway.py", line 977, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\py4j\java_gateway.py", line 1115, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [WinError 10061] No connection could be made because the target machine actively refused it
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:50269)
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\py4j\java_gateway.py", line 977, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\py4j\java_gateway.py", line 1115, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [WinError 10061] No connection could be made because the target machine actively refused it
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:50269)
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\py4j\java_gateway.py", line 977, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\py4j\java_gateway.py", line 1115, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [WinError 10061] No connection could be made because the target machine actively refused it
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:50269)
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\py4j\java_gateway.py", line 977, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\py4j\java_gateway.py", line 1115, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [WinError 10061] No connection could be made because the target machine actively refused it
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:50269)
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\py4j\java_gateway.py", line 977, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\py4j\java_gateway.py", line 1115, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [WinError 10061] No connection could be made because the target machine actively refused it
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:50269)
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\py4j\java_gateway.py", line 977, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\py4j\java_gateway.py", line 1115, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [WinError 10061] No connection could be made because the target machine actively refused it
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:50269)
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\py4j\java_gateway.py", line 977, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\py4j\java_gateway.py", line 1115, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [WinError 10061] No connection could be made because the target machine actively refused it
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:50269)
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\py4j\java_gateway.py", line 977, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\py4j\java_gateway.py", line 1115, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [WinError 10061] No connection could be made because the target machine actively refused it
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:50269)
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\py4j\java_gateway.py", line 977, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\py4j\java_gateway.py", line 1115, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [WinError 10061] No connection could be made because the target machine actively refused it
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:50269)
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\py4j\java_gateway.py", line 977, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\py4j\java_gateway.py", line 1115, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [WinError 10061] No connection could be made because the target machine actively refused it
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:50269)
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\py4j\java_gateway.py", line 977, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\py4j\java_gateway.py", line 1115, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [WinError 10061] No connection could be made because the target machine actively refused it
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:50269)
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\py4j\java_gateway.py", line 977, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\py4j\java_gateway.py", line 1115, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [WinError 10061] No connection could be made because the target machine actively refused it
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:50269)
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\py4j\java_gateway.py", line 977, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\py4j\java_gateway.py", line 1115, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [WinError 10061] No connection could be made because the target machine actively refused it

## Recomendation from the sample

In [ ]:
n=7
recommendations = best_model.recommendForUserSubset(sparkDf,n).toPandas()
recommendations

   userId                                    recommendations
0   60001  [(169252, 3.8889009952545166), (52104, 3.88075...
1   30000  [(318, 5.023916721343994), (170705, 4.98787784...
2   40001  [(318, 4.753310203552246), (170705, 4.71772146...
3   50001  [(165069, 5.283397674560547), (93404, 5.195976...

## Recomendaciones a usuarios de prueba

In [ ]:
usuarios=['Bryan','Juan Pablo','Matías','Ignacio']
for a in range(len(recommendations)):
  print('To the User',usuarios[a])
  for b in range(n):
    print('With an expected rate of ',round(recommendations['recommendations'][a][b][1],2),', it can be suggested the movie:',movies['title'][recommendations['recommendations'][a][b][0]])
  print()

Al usuario Urra
Con un rating esperado de  3.89 se le recomienda la película: Everything Will Be OK (2006)
Con un rating esperado de  3.88 se le recomienda la película: Moment of Innocence, A (Nun va Goldoon) (1996)
Con un rating esperado de  3.86 se le recomienda la película: Werckmeister Harmonies (Werckmeister harmóniák) (2000)
Con un rating esperado de  3.83 se le recomienda la película: Classe américaine, La (a.k.a. Le grand détournement) (1993)
Con un rating esperado de  3.83 se le recomienda la película: Personal Journey with Martin Scorsese Through American Movies, A (1995)
Con un rating esperado de  3.81 se le recomienda la película: Satan's Tango (Sátántangó) (1994)
Con un rating esperado de  3.81 se le recomienda la película: Century of the Self, The (2002)

Al usuario Juan Pablo
Con un rating esperado de  5.02 se le recomienda la película: Shawshank Redemption, The (1994)
Con un rating esperado de  4.99 se le recomienda la película: Band of Brothers (2001)
Con un rating esperado de  4.96 se le recomienda la película: Enemies of Reason, The (2007)
Con un rating esperado de  4.94 se le recomienda la película: Planet Earth II (2016)
Con un rating esperado de  4.91 se le recomienda la película: The Godfather Trilogy: 1972-1990 (1992)
Con un rating esperado de  4.9 se le recomienda la película: The Dust Bowl (2012)
Con un rating esperado de  4.89 se le recomienda la película: Black Mirror: White Christmas (2014)

Al usuario Matías
Con un rating esperado de  4.75 se le recomienda la película: Shawshank Redemption, The (1994)
Con un rating esperado de  4.72 se le recomienda la película: Band of Brothers (2001)
Con un rating esperado de  4.7 se le recomienda la película: Planet Earth II (2016)
Con un rating esperado de  4.68 se le recomienda la película: Drishyam (2013)
Con un rating esperado de  4.65 se le recomienda la película: Hollow Crown, The (2012)
Con un rating esperado de  4.65 se le recomienda la película: Enemies of Reason, The (2007)
Con un rating esperado de  4.65 se le recomienda la película: Planet Earth (2006)

Al usuario Ignacio
Con un rating esperado de  5.28 se le recomienda la película: Baseball (1994)
Con un rating esperado de  5.2 se le recomienda la película: Queen: Days of Our Lives (2011)
Con un rating esperado de  5.17 se le recomienda la película: Cranford (2007)
Con un rating esperado de  5.17 se le recomienda la película: Olive Kitteridge (2014)
Con un rating esperado de  5.16 se le recomienda la película: Death on the Staircase (Soupçons) (2004)
Con un rating esperado de  5.12 se le recomienda la película: Personal Journey with Martin Scorsese Through American Movies, A (1995)
Con un rating esperado de  5.09 se le recomienda la película: Music for One Apartment and Six Drummers (2001)

# Algoritmo 3 Machine Learning: KNN

## Librería

In [ ]:
from sklearn.neighbors import NearestNeighbors

## Importar Data

In [ ]:
data=df[['userId','movieId','rating']][14000000:17000000]
df_features=data.pivot_table(index='movieId',columns='userId',values='rating').fillna(0)
df_features

userId   14      15      27      28      ...  283206  283210  283219  283227
movieId                                  ...
67788       0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
67792       0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
67801       0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
67839       0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
67907       0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
...         ...     ...     ...     ...  ...     ...     ...     ...     ...
190949      0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
191351      0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
191997      0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
191999      0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
192283      0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0

[3583 rows x 73552 columns]

## Entrenar el modelo

In [ ]:
nbrs = NearestNeighbors(n_neighbors=5, algorithm='ball_tree').fit(df_features)

## Probar el modelo

In [ ]:
#query_index = np.random.choice(df_features.index)
query_index=152017
print(query_index)

152017

In [ ]:
distances, indices = nbrs.kneighbors(df_features.loc[query_index,:].values.reshape(1, -1), n_neighbors = 6)

In [ ]:
print(indices)

[[2944 3005 3295 3269 2822 3281]]

In [ ]:
print(distances)

[[  0.         116.2013339  116.43345739 116.50643759 116.69832904
  116.84070352]]

## Generar recomendaciones a partir de una película

In [ ]:
for i in range(len(indices.flatten())):
    if i == 0:
        print('Recomendación para {0}:\n'.format(movies['title'][query_index]))
    else:
        print('{0}: {1}, con una distancia de {2}:'.format(i,movies['title'][df_features.index[indices.flatten()[i]]], distances.flatten()[i]))

Recommendations for Me Before You (2016):

1: The Choice (2016), with distance of 116.20133389940065:
2: Everything, Everything (2017), with distance of 116.43345739090633:
3: Fallen (2016), with distance of 116.50643759037524:
4: Beauty & the Briefcase (2010), with distance of 116.69832903688038:
5: The Last Word (2017), with distance of 116.84070352407161:

# Algoritmo 4 Machine Learning: Colaborative Filtering

In [ ]:
#pip install surprise

## Líbrerias Surprise

In [ ]:
from surprise import dataset,Reader
from surprise.model_selection import train_test_split
from surprise import SVD
from surprise import accuracy
reader = Reader(line_format='user item rating', rating_scale=(1, 5))
df_sur=df[['userId','movieId','rating']]

## Generar Dataset

In [ ]:
class MyDataset(dataset.DatasetAutoFolds):

    def __init__(self, df, reader):

        self.raw_ratings = [(uid, iid, r, None) for (uid, iid, r) in
                            zip(df['userId'], df['movieId'], df['rating'])]
        self.reader=reader
data = MyDataset(df_sur, reader)
trainset, testset = train_test_split(data, test_size=.20)

## Entrenar Modelo

In [ ]:
model = SVD()
model.fit(trainset)
predictions = model.test(testset)

## Métricas Modelo

In [ ]:
accuracy.rmse(predictions)

RMSE: 0.7910

0.7910032162864641

## Probar Modelo

In [ ]:
user = str(196)  
item = str(303)  

pred = model.predict(user, item, verbose=True)

user: 196        item: 303        r_ui = None   est = 3.63   {'was_impossible': False}

# **Algorithm 4: Machine Learning Neural Collaborative Filtering (NCF)**

In [ ]:
# keras/tensorflow imports
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

# Conclusión

En el presente proyecto se puede observar lo complejo que es realizar recomendaciones, ya que esta actividad no corresponde a una ciencia cierta, ya que no es raro que nos encontremos con una película muy recomendada que no sea de nuestro gusto para nada, o, al contrario, existen situaciones en que una película que muchas personas nos decía ser horrible, termina gustándonos.
Cada vez es más masivo el negocio del entretenimiento en streaming, la competencia es feroz, incluso existen líneas de celulares que lanzaron sus servicios de streaming. Por lo cual, estas compañías están siempre buscando la mejor forma para retener a sus clientes y atraer nuevos clientes.  Bajo esta motivación los algoritmos de recomendación se hacen cada vez más necesarios.

Se utilizó el algoritmo más común que es por popularidad, por su simplicidad es muy usado, sobre todo en páginas web de contenido con menos recursos y conocimientos en Machine Learning. Nos permite evaluar las películas según qué tan populares son, equilibrando la puntuación y la cantidad de puntuaciones que ha recibido. Este modelo es muy básico y poco preciso, ya que no genera recomendaciones personalizadas.

Posterior a ello se desarrolló el algoritmo ALS, el cual generó muy buenos resultados, aunque sucedía que antes de limitar que una película debía estar al menos 30 veces evaluada para ser considerada, este algoritmo tendía a recomendar películas poco reproducidas y de mala calidad. Por esto se tomó la decisión de aumentar este requerimiento, que permitió mejorar considerablemente el modelo. Si bien tiene métricas bastante bajas, es importante controlar su desempeño y probar los resultados.

El algoritmo KNN nos compara nuestros gustos con las K personas más similares y a partir de ello realiza la recomendación. Tiene como ventaja la simplicidad, pero no se consiguió poder utilizar más de 3 millones de datos, debido a que la matriz utilizada para la predicción coloca a los usuarios en las columnas y las películas en las filas, ya que el problema del KNN funciona bien con muestras más pequeñas.

Y finalmente el Colaborative Filtering que obtuvo un RMSE menor que el obtenido en el uso del ALS, siendo que ocupa menos datos que el ALS, utilizando únicamente los usuarios, las películas y las calificaciones. Dado a la métrica del RMSE seleccionamos el mejor modelo y validamos el modelo a distintos usurarios, cuyos resultados se aprecian en el Anexo.

Podemos señalar que se considera el mejor modelo al filtro colaborativo, que fue el que generó mejores resultados con un tiempo de ejecución relativamente bajo. Aunque en situaciones con bajo o nulo número de datos, se recomienda el uso del modelo de popularidad. Y en caso de que una persona se encuentre en búsqueda de una película similar a la que le gusta se recomienda el uso de KNN, ya que simplifica bastante la búsqueda, y es fácilmente actualizable.